body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.calc-position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 420px;
    width: 420px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 55px;
    width: 380px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.row {
    display: flex;
    width: 380px;
    justify-content: space-between;
    align-items: center;
}

.clear-button,
.delete-button {
    height: 55px;
    width: 185px;
}

button {
    height: 55px;
    width: 87px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}



